@import 'utils';

.input-text{
  display:inline-block;
  background-color:rgba(0,0,0,0);
  border:none;
  border-bottom:2px solid #ccc;
  color:white;
  font-size: 1.5rem;
  line-height: 1.5rem;
  width:100%;

  &::placeholder{
    color:#ccc
  }
  &:focus{
    outline: none;
    outline-width: 0;
  }
}
